In [68]:
import os
import psycopg2

In [69]:
conn = psycopg2.connect(database="F1_DB",
                        user = "postgres", password = "postgres",
                        host="127.0.0.1", port="5432")
conn.autocommit = True
cursor = conn.cursor()

sql1 = '''CREATE TABLE CIRCUITS (circuitId int NOT NULL,
    circuitRef varchar(40),
    name varchar(40),
    location varchar(40),
    country varchar(40),
    lat float,
    lng float,
    alt int,
    url varchar(100))'''

cursor.execute(sql1)

sql2 = '''COPY circuits(circuitId,circuitRef,name,location,country,lat,lng,alt,url)\
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/circuits.csv'\
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [70]:
sql1 = '''CREATE TABLE CONSTRUCTOR_RESULTS (constructorResultsId int NOT NULL,
    raceId int NOT NULL,
    constructorId int NOT NULL,
    points float NOT NULL,
    status varchar(3))'''

cursor.execute(sql1)

sql2 = '''COPY constructor_results(constructorResultsId,raceId,constructorId,points,status)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/constructor_results.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER)'''

cursor.execute(sql2)

In [71]:
sql1 = '''CREATE TABLE CONSTRUCTOR_STANDINGS (constructorStandingsId int NOT NULL,
    raceId int NOT NULL,
    constructorId int NOT NULL,
    points float NOT NULL,
    position int NOT NULL,
    positionText varchar(10),
    wins int NOT NULL)'''

cursor.execute(sql1)

sql2 = '''COPY constructor_standings(constructorStandingsId,raceId,constructorId,points,position,positionText,wins)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/constructor_standings.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [72]:
sql1 = '''CREATE TABLE CONSTRUCTORS(constructorId int NOT NULL,
    constructorRef varchar(50),
    name varchar(50),
    nationality varchar(50),
    url char(100))'''

cursor.execute(sql1)

sql2 = '''COPY constructors(constructorId,constructorRef,name,nationality,url)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/constructors.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [73]:
sql1 = '''CREATE TABLE DRIVER_STANDINGS(driverStandingsId int NOT NULL,
    raceId int NOT NULL,
    driverId int NOT NULL,
    points float NOT NULL,
    position int NOT NULL,
    positionText varchar(20),
    wins int NOT NULL)'''

cursor.execute(sql1)

sql2 = '''COPY driver_standings(driverStandingsId,raceId,driverId,points,position,positionText,wins)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/driver_standings.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [74]:
sql1 = '''CREATE TABLE DRIVERS(driverId int NOT NULL,
    driverRef varchar(50),
    number varchar(10),
    code varchar(10),
    forename varchar(50),
    surname varchar(50),
    dob date,
    nationality varchar(50),
    url varchar(100))'''

cursor.execute(sql1)

sql2 = '''COPY drivers(driverId,driverRef,number,code,forename,surname,dob,nationality,url)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/drivers.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [75]:
sql1 = '''CREATE TABLE LAP_TIMES(raceId int NOT NULL,
    driverId int,
    lap int,
    position int,
    time interval,
    milliseconds int)'''

cursor.execute(sql1)

sql2 = '''COPY lap_times(raceId,driverId,lap,position,time,milliseconds)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/lap_times.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [76]:
sql1 = '''CREATE TABLE PIT_STOPS(raceId int NOT NULL,
    driverId int NOT NULL,
    stop int NOT NULL,
    lap int NOT NULL,
    time time,
    duration interval,
    milliseconds int NOT NULL)'''

cursor.execute(sql1)

sql2 = '''COPY pit_stops(raceId,driverId,stop,lap,time,duration,milliseconds)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/pit_stops.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [79]:
sql1 = '''CREATE TABLE QUALIFYING(qualifyId int NOT NULL,
    raceId int NOT NULL,
    driverId int NOT NULL,
    constructorId int NOT NULL,
    number int NOT NULL,
    position int NOT NULL,
    q1 interval,
    q2 interval,
    q3 interval)'''

#cursor.execute(sql1)

sql2 = '''COPY qualifying(qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/qualifying.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [80]:
sql1 = '''CREATE TABLE RACES(raceId int NOT NULL,
    year int NOT NULL,
    round int NOT NULL,
    circuitId int NOT NULL,
    name varchar(100),
    date date,
    time time,
    url varchar(100),
    fp1_date date,
    fp1_time time,
    fp2_date date,
    fp2_time time,
    fp3_date date,
    fp3_time time,
    quali_date date,
    quali_time time,
    sprint_date date,
    sprint_time time)'''

cursor.execute(sql1)

sql2 = '''COPY races(raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/races.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [81]:
sql1 = '''CREATE TABLE RESULTS(resultId int NOT NULL,
    raceId int,
    driverId int,
    constructorId int,
    number varchar(20),
    grid varchar(20),
    position int,
    positionText varchar(10),
    positionOrder int,
    points float,
    laps int,
    time interval,
    milliseconds int,
    fastestLap int,
    rank int,
    fastestLapTime interval,
    fastestLapSpeed float,
    statusId varchar(10))'''

cursor.execute(sql1)

sql2 = '''COPY RESULTS(resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/results.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [82]:
sql1 = '''CREATE TABLE SEASONS(year int NOT NULL,
    url varchar(100))'''

cursor.execute(sql1)

sql2 = '''COPY seasons(year,url)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/seasons.csv'
        DELIMITER ','
        CSV HEADER;'''

cursor.execute(sql2)

In [83]:
sql1 = '''CREATE TABLE SPRINT_RESULTS(resultId int NOT NULL,
    raceId int NOT NULL,
    driverId int NOT NULL,
    constructorId int NOT NULL,
    number int NOT NULL,
    grid int,
    position int,
    positionText varchar(10),
    positionOrder int,
    points int,
    laps int,
    time interval,
    milliseconds int,
    fastestLap int,
    fastestLapTime interval,
    statusId varchar(10))'''

cursor.execute(sql1)

sql2 = '''COPY sprint_results(resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/sprint_results.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)

In [84]:
sql1 = '''CREATE TABLE STATUS(statusId int NOT NULL,
status varchar(30))'''

cursor.execute(sql1)

sql2 = '''COPY status(statusId,status)
        FROM '/Users/noahhowren/Documents/PITLANE/f1db_csv/status.csv'
        WITH (FORMAT CSV, NULL '\\N', HEADER);'''

cursor.execute(sql2)